.uni-flow-card:has(.ad),
.cube-mod:has(.ad-flag) {
    filter: blur(var(--blur-amount)) !important;
    transition: filter var(--filter-transition-duration) var(--filter-transition-timing);
    /*overflow: hidden;*/
    mask-image: linear-gradient(black, black);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}

.uni-flow-card:has(.ad):hover,
.cube-mod:has(.ad-flag):hover { /*:hover*/
    filter: blur(0px) !important;
    /*overflow: visible;*/
    /*border: none;*/
}

.uni-flow-card:has(.ad)::after,
.cube-mod:has(.ad-flag)::after { /*::after*/
    content: "广告";
    position: absolute;
    top: 50%;
    left: 50%;
    filter: blur(1px);
    transform: translate(-50%, -50%) rotate(-15deg);
    background: rgba(255, 255, 255, 0.12);
    color: rgba(204, 56, 56, 0.39);
    display: inline-flex;
    padding: 8px 24px 16px 24px;
    border: 5px solid rgba(204, 62, 62, 0.26);
    font-size: max(64px, min(32em, 120px));
    min-height: max(64px, min(32em, 120px));
    line-height: max(64px, min(32em, 120px));
    font-family: "STBaoliTC-Regular", "LiSu", "STLiti", cursive;
    border-radius: 50%;
    z-index: 99999;
    pointer-events: none;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.29),
    0 0 8px rgba(255, 255, 255, 0.19),
    0 0 12px rgba(255, 255, 255, 0.19);
    white-space: nowrap;
    box-shadow: 0 0 0 3px rgba(204, 62, 62, 0.15),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 0 2px rgba(204, 62, 62, 0.1), /* Outer shadow */
    inset 0 0 5px rgba(204, 62, 62, 0.15); /* Inner shadow with 3px spread */
    opacity: 0;
}

.uni-flow-card:has(.ad):hover::after,
.cube-mod:has(.ad-flag):hover::after { /*:hover::after*/
    animation: fadeInOut 1s ease-in-out 2; /* 应用动画 */
}
