.c-container:has(.ec-tuiguang):not(:has(div[data-cmatchid])),
.cr-content:has(.ec-tuiguang):not(:has(div[data-cmatchid])),
.mediago-ad-wrapper,
div[class^="unionAd_"],
div[data-cmatchid]:has(.ec-tuiguang),
.clearfix > div:has(> .j_click_stats),
div[ad-dom-img="true"],
#J-bottom-recommend-wrapper,
img[src*="//baikebcs.bdimg.com/adpic/"],
.newfcImgli:has(.fc-ad-tip) {
    filter: blur(var(--blur-amount)) !important;
    transition: filter var(--filter-transition-duration) var(--filter-transition-timing);
    /*overflow: hidden;*/
    mask-image: linear-gradient(black, black);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}

.c-container:has(.ec-tuiguang):not(:has(div[data-cmatchid])):hover,
.cr-content:has(.ec-tuiguang):not(:has(div[data-cmatchid])):hover,
.mediago-ad-wrapper:hover,
div[class^="unionAd_"]:hover,
div[data-cmatchid]:has(.ec-tuiguang):hover,
.clearfix > div:has(> .j_click_stats):hover,
div[ad-dom-img="true"]:hover,
#J-bottom-recommend-wrapper:hover,
img[src*="//baikebcs.bdimg.com/adpic/"]:hover,
.newfcImgli:has(.fc-ad-tip):hover { /*:hover*/
    filter: blur(0px) !important;
    /*overflow: visible;*/
    /*border: none;*/
}

.c-container:has(.ec-tuiguang):not(:has(div[data-cmatchid]))::after,
.cr-content:has(.ec-tuiguang):not(:has(div[data-cmatchid]))::after,
.mediago-ad-wrapper::after,
div[class^="unionAd_"]::after,
div[data-cmatchid]:has(.ec-tuiguang)::after,
.clearfix > div:has(> .j_click_stats)::after,
div[ad-dom-img="true"]::after,
#J-bottom-recommend-wrapper::after,
img[src*="//baikebcs.bdimg.com/adpic/"]::after,
.newfcImgli:has(.fc-ad-tip)::after { /*::after*/
    content: "广告";
    position: absolute;
    top: 50%;
    left: 50%;
    filter: blur(1px);
    transform: translate(-50%, -50%) rotate(-15deg);
    background: rgba(255, 255, 255, 0.12);
    color: rgba(204, 56, 56, 0.39);
    display: inline-flex;
    padding: 8px 24px 16px 24px;
    border: 5px solid rgba(204, 62, 62, 0.26);
    font-size: max(64px, min(32em, 120px));
    min-height: max(64px, min(32em, 120px));
    line-height: max(64px, min(32em, 120px));
    font-family: "STBaoliTC-Regular", "LiSu", "STLiti", cursive;
    border-radius: 50%;
    z-index: 99999;
    pointer-events: none;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.29),
    0 0 8px rgba(255, 255, 255, 0.19),
    0 0 12px rgba(255, 255, 255, 0.19);
    white-space: nowrap;
    box-shadow: 0 0 0 3px rgba(204, 62, 62, 0.15),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 0 2px rgba(204, 62, 62, 0.1), /* Outer shadow */
    inset 0 0 5px rgba(204, 62, 62, 0.15); /* Inner shadow with 3px spread */
    opacity: 0;
}

.c-container:has(.ec-tuiguang):not(:has(div[data-cmatchid])):hover::after,
.cr-content:has(.ec-tuiguang):not(:has(div[data-cmatchid])):hover::after,
.mediago-ad-wrapper:hover::after,
div[class^="unionAd_"]:hover::after,
div[data-cmatchid]:has(.ec-tuiguang):hover::after,
.clearfix > div:has(> .j_click_stats):hover::after,
div[ad-dom-img="true"]:hover::after,
#J-bottom-recommend-wrapper:hover::after,
img[src*="//baikebcs.bdimg.com/adpic/"]:hover::after,
.newfcImgli:has(.fc-ad-tip):hover::after { /*:hover::after*/
    animation: fadeInOut 1s ease-in-out 2; /* 应用动画 */
}

div#mainElem[class^="index-module__main--"]{background: black;}
