/deep/cs-native-ad-card:has(.ad-label-text) {
    filter: blur(var(--blur-amount)) !important;
    transition: filter var(--filter-transition-duration) var(--filter-transition-timing);
    overflow: hidden;
}

/deep/cs-native-ad-card:has(.ad-label-text):hover {
    filter: blur(0px) !important;
    overflow: visible;
}

/deep/cs-native-ad-card:has(.ad-label-text)::after {
    content: "广告";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
    background: rgba(255, 255, 255, 0.45);
    color: rgba(204, 0, 0, 0.65);
    display: inline-flex;
    padding: 20px 24px;
    border: 2px solid rgba(204, 0, 0, 0.45);
    font-size: max(40px, min(5em, 72px));
    font-family: "STBaoliTC-Regular", "LiSu", "STLiti", cursive;
    border-radius: 5px;
    z-index: 999999999;
    pointer-events: none;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.3),
    0 0 8px rgba(255, 255, 255, 0.3),
    0 0 12px rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    box-shadow: 0 0 0 2px rgba(204,0,0,0.35),
    inset 0 0 0 1px rgba(255,255,255,0.2);
}
