:root {
    --blur-amount: 10px;
    --filter-transition-duration: 0.01s;
    --filter-transition-timing: ease-in-out;
    --content-ad-font-size: max((calc(min(7vw, 7vh, 512px)) + calc(min(10vw, 10vh) + 32px)) / 1.6, 32px);
}